@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  background: rgb(0, 255, 252);
  background: linear-gradient(135deg, rgba(0, 255, 252, 1) 0%, rgba(0, 84, 167, 1) 0%, rgba(0, 255, 235, 1) 100%);
  scroll-behavior: smooth;
}

.b_corpo{
height: 100%;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #32b9cd;
  background-color: #ffffff;
  width: 100vw;
  height: 15vh;
  position: fixed;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 650;
  color: #44e6ff;
}

.navbar {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #32b9cd;
}

#faleconosco {
  background-color: #44e6ff;
  padding: 1.5%;
  border-radius: 100px;
  margin-left: 3%;
  border: 1px solid black;
  box-shadow: inset 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
  text-decoration: underline;
}

.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
  font-size: 35px;
  background-color: white;
}

body #espacamento {
  height: 10vh;
}

.banner {
  display: flex;
  width: 100vw;
  overflow: hidden;
  background: white;
  justify-content: center;
}

.cont {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#img {
  width: 100vw;
  height: 100%;
  scroll-snap-align: start;
  pointer-events: none;
  object-fit: cover;
}

#img img {
  width: 100vw;
}

#titulo_social {
  display: flex;
  justify-content: center;
  background: white;
  margin-top: 2%;
  border-bottom: 1px solid black;
  font-family: monospace;
}

#title_social {
  font-size: 30px;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
  color: rgb(0, 0, 0)
}

/* MISSAO VISAO VALORES */

.social {
  background-color: #ffffff;
  display: flex;
  width: 100vw;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #32b9cd;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  margin: auto;
  justify-content: center;
}

.social p {
  justify-content: center;
  align-self: center;
}

.box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  justify-content: center;
  width: 100%;
}

.pilar_texto {
  align-self: initial;
  width: 90%;
  text-align: justify;
}
 

/* CONTATO */

.social_exp {
  width: 100%;
  display: flex;
  background:#26c9e2;
  flex-direction: column;
}

.social_cont {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  height: 60%;
  width: 60%;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.conteudo {
  display: inline-block;
  
}

.conteudo2 {
  margin-bottom: 1%;
  margin-left: 10%;
  margin-top: 1%;
  margin-right: 20%;
  width: 100%;
  display: inline-block;
  justify-items: center;
  justify-content: center;

}

.conteudo2 input {
width: 120%;
text-align: left;
}

.conteudo2 .b{
margin-bottom: 20px;
text-align: center;
}

#texto_social {
  width: 45%;
  display: block;
  word-wrap: break-word;
  align-self: center;
}

.btnContato{
  font-family: monospace;
  margin-top: 10px;
  border: 0;
  font-weight: 600;
  background-color: #32b9cd;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}



/* FOOTER */

.footer {
  border-top: 5px solid #32b9cd;
  background-color: white;
  height: 20vh;
  color: black;
  display: flex;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.footer .container {
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer .container .titulo {
  text-align: center;
  justify-content: center;
}

.texto_footer {
  font-size: 25px;
}



/* LOGIN */

.containerLog {
  width: 24%;
  height: 80%;
  margin: auto;
  display: flex;
  color: #32b9cd;
}

.bannerLog {
  height: 580px;
  background-image: url("../assets/fundo_mao.jpg");
  background-size: cover;
}

.card h2 {
  color: #32b9cd;
  margin-top: 0px;
}

.formularioLog {
  background-color: white;
  height: 320px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40%;
  padding: 10px 0;
  border-radius: 20px;
  margin-bottom: 12%;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #32b9cd 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  width: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 78px 77px 96px 80px;
    padding: 91px 15px;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #32b9cd;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #ffffff;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: 100vh;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color:#32b9cd;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #32b9cd;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #32b9cd;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #32b9cd;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/*SIMULADOR FINANCEIRO*/

.botao_simulador {
  background-color:rgb(0, 195, 255);
  padding: 1%;
  border-radius: 20px;
}

#simulador {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 3%;
  border-bottom-right-radius: 50px;
  border-left: 3px solid black;
}


#fundo_simulador {
  background-color: #00000071;
}

#titulo {
  display: flex;
  color: rgb(0, 0, 0);
  margin-top: 5%;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
}

#fundo_simulador {
  
  background-size: cover;
  background-repeat: no-repeat;
}

#div_duo {
  display: flex;
  background-color: white;
  width: 75%;
  margin: auto;
  margin-top: 2%;
  border: solid 2px black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#texto {
  margin-left: 2%;
  width: 100%;
  font-size: 23px;
  margin-top: 2%;
  align-self: center;
  text-align: justify;
  margin-right: 2%;
  text-indent: 1em;
}

#div_imagem {
  width: 750px;
  border-right: 3px solid black;
}

#imagem {
  border-top-left-radius: 50px;
  width: 100%;
  height: 100%;
}

#texto_conta {
  display: flex;
  /* width: 30%; */
  /* height: 366px; */
  background-color: white;
  margin: 3% 12.5%;
  /* margin-top: 3%; */
  padding: 19px 51px 11px 40px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-direction: column;
  display: none;
  border: solid 2px black;
}

#config_texto {
  width: 100%;
  }

#porcentagem_texto {
  margin-top: 1%;
}

#box_conta .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3%;
  justify-content: space-around;
}


#texto_perda {
  background-color: white;
  padding: 4%;
  border: #000000 1px solid;
  height: 2vh;
  margin-top: 4%;
  color: red;
  display: none;
}

#texto_economia {
  background-color: white;
  padding: 4%;
  border: #000000 1px solid;
  height: 2vh;
  margin-top: 4%;
  color: green;
  display: none;
}

select {
  border: #32b9cd 1px solid;
}

button {
  border: 0;
  background: rgb(0, 14, 59);
  color: white;
  padding: 4%;
  border-radius: 20px;
}

button:hover {
  text-decoration: underline;
}

/* CADASTRO */



.headerCad {
  border-bottom: 3px solid #32b9cd;
  background-color: #ffffff;
  width: 100vw;
  height: 15vh;
  position: fixed;
}

.headerCad .containerCad {
  justify-content: space-between;

}

.headerCad a {
  text-decoration: none;
  color: #000000;
}

.containerCad {
  width: 80%;
  margin: auto;
  display: flex;
  color: white;
}

.headerCad .containerCad {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container_tamanho-conteudo {
  margin: auto;
  display: flex;
  color: #32b9cd;
}

.formulario h2 {
  font-size: 30px;
}

.bannerCad .card_medio {
  background-color: white;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  padding-bottom: 20px;
  border-radius: 20px;
  margin: auto;
  margin-top: 10vh;
}

.bannerCad .card_medio2 {
  background-color: white;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 20px;
  margin: auto;
  margin-top: 25vh;
}

.bannerCad {
  height: 580px;
  background-image: url("../assets/fundo_mao.jpg");
  background-size: cover;
}

.btn {
  font-family: monospace;
  margin-top: 10px;
  border: 0;
  font-weight: 600;
  background-color: #32b9cd;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.letrinhas {
  font-size: 11px;
  margin-left: 5%;
  color: black;
}

.box img {
  width: 150px;
}

/* Sobre nós */

.banner_sobre {
  height: 500px;
  background-image: url("../assets/fundo_mao.jpg");
  background-size: cover;
}

#espacamento1 {
  padding: 36px;
}

.banner_sobre .form {
  padding-top: 20px;
  margin: auto;
  border-top: 10px;
  top: 20%;
  left: 22%;
  background-color: white;
  height: 360px;
  width: 1000px;
  max-width: 50%;
  border-radius: 10px;
  padding: 50px;
  align-items: center;
  color: black;
  text-align: justify;
  box-shadow: 1px 1px 6px #00ffc8;
  justify-content: center;
}

#box_titulo {
  width: 100%;
  justify-content: center;
}

.title {
  text-align: center;;
  font-size: 1.8em;
  color: #32B9CD;
  width: 100%;
}

.paragrafo1 {
  text-indent: 4em
}

.paragrafo2 {
  text-indent: 4em
}

/* Sobre nós - Carrosel */
.carrosel {
  margin-top: 75px;
  width: 140%;
  height: 100px;
  display: flex;
  align-items: center;
}

.carrosel .carrosel_card .carrosel_image {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  padding: 8px;
}

.carrosel .carrosel_card .carrosel_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.carrosel_card {
  position: relative;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: white;
  margin: 50px;
  transition: all 0.5s;
  box-shadow: 1px 1px 6px #00ffc8;

}

.carrosel_card::before {
  content: "";
  position: absolute;
  height: 33%;
  width: 100%;
  background-color: #32b9cd;
  border-radius: 24px 24px 0 0;
}

.carrosel_content {
  display: flex;
}

.carrosel .carrosel_card_content {
  padding: 5px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carrosel .carrosel_media_icons {
  position: absolute;
  top: 22px;
  left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.carrosel .carrosel_media_icons img {
  filter: brightness(1);
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  max-width: 30px;
}

.carrosel .carrosel_media_icons img:hover {
  filter: brightness(3);
}

.carrosel .carrosel_nome {
  font-size: 18px;
  font-weight: bold;
}

.carrosel .carrosel_email {
  margin-top: 5px;

}

/* Animação carrosel*/
.carroselButton {
  height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 1000;


}

.prevButton {
  top: 113%;
  left: -0.7%;
  opacity: 100%;
  transition: opacity 0.1s;
}

.prevButton.none {
  opacity: 30%;

}

.nextButton {
  top: 113%;
  right: -0.7%;

}

.footerSob {
  background-color: #32b9cd;
  height: 20vh;
  color: white;
  display: flex;
  font-size: 15px;
  width: 100%;
}

.footerSob .containerSob {
  margin: auto;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

#texto_perda {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#texto_economia {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


#texto_conta {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0.85; }
  to   { opacity: 1; }
}

